td {
    padding: 2px 5px;
}
thead td {
    text-align: center;
}

div#formDiv{
    padding: 0px 10px;
}

div#chartDiv{
    width: 1200px;
    height: 700px;
}

div#tableDiv {
    width: 1200px;
}

table#dataTable {
    margin: 0 auto;
}
