td {
    padding: 2px 5px;
}
thead td {
    text-align: center;
}

div#formDiv{
    padding: 0px 10px;
}

div#chartDiv{
    width: 900px;
    height: 500px;
}

div#tableDiv {
    width: 900px;
}

table#dataTable {
    margin: 0 auto;
}
